.ChoosePerson{
    background-color: $background-white;
    margin-top: 1.1rem;


    &_PersonSummaryBoxGallery{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        max-width: 1050px;
    }
}