.ChoosePerson{
    background-color: $background-white;
    padding-top: 1.1rem;


    &_Header{
        font-family: BigHeader;
        font-size: 100px;
        border-bottom: 3px solid black;
        max-width: 1050px;
        margin: auto;
    }

    &_PersonSummaryBoxGallery{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1050px;
        margin: auto;
    }
}