/BlazorApp1/node_modules/
/BlazorApp1/wwwroot/node_modules/
/BlazorApp1/bin/
/BlazorApp1/obj/
/BlazorApp1/appsettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/