.PersonSummaryBox{
    background-color: $main-blue;
    text-decoration: none;
    color: black;

    width: 300px;
    height: 350px;
    border-radius: 20px;

    margin: 20px;
    padding: 20px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition:0.3s;
    &:hover{
        background-color: $highlight-blue;
        transform: scale(1.1);
        color: black;
    }


    &_name{
        font-family: BigHeader;
        font-size: 40px;
        text-decoration: none;
    
    }


    
    

    &_img{
        border-radius: 50%;
    }


    &_statRow{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}