.PersonStats{

    max-width: 1020px;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    margin: auto;
    height: 100%;

    overflow: visible;

    &_tallBox{

        background-color: $main-blue;
        text-decoration: none;
        color: black;
    
        width: 300px;
    
        padding: 20px;
        padding-top: 50px;

        height: 90vh;

        position: sticky;
        top: 56px;
            

        
        &_container{
            width: 100%;
            
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
            
        }
    
    
        &_name{
            font-family: BigHeader;
            font-size: 40px;
            text-decoration: none;
        
        }
    
    
        
        
    
        &_img{
            border-radius: 50%;
        }
    
    
        &_statRow{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }
    }

    &_detailed{
        display: grid;
        grid-auto-rows: min-content;
        grid-template-columns: auto auto;
    }
}