@using BlazorApp1.Models
<div class="NumbStat"  @attributes="AdditionalAttributes">
        <p class="NumbStat_title">@numbStatModel.Category</p>
        <div class="NumbStat_row">
            <h2 class="NumbStat_row_number">@numbStatModel.Number</h2>
            <p class="NumbStat_row_text">@numbStatModel.Details</p>
        </div>

</div>



@code {
    [Parameter]
    public required NumbStatModel numbStatModel {get; set;}

    [Parameter(CaptureUnmatchedValues = true)]
    public required Dictionary<string, object> AdditionalAttributes { get; set; }
}