@using BlazorApp1.Models
<a class="PersonSummaryBox" href="http://localhost:5178/person" @attributes="AdditionalAttributes">
        <img class="PersonSummaryBox_img" src="https://thispersondoesnotexist.com/" alt="new person" width="100">

        <h3 class="PersonSummaryBox_name">@personModel.navn</h3>
        <div class="PersonSummaryBox_statRow">
            <MiniNumbStat number="personModel.event_count" text="Events"></MiniNumbStat>
            <MiniNumbStat number="personModel.gjett_count" text="Guesses"></MiniNumbStat>
        </div>
</a>



@code {
    [Parameter]
    public required ExpandedPersonModel personModel {get; set;}

    [Parameter(CaptureUnmatchedValues = true)]
    public required Dictionary<string, object> AdditionalAttributes { get; set; }
}