@page "/choosePerson"

@using BlazorApp1.Models
@using ClassLibrary1
@using BlazorApp1.Components.SubComponent
@inject IDataAccess _data
@inject IConfiguration _config
@attribute [StreamRendering]

<div class="ChoosePerson">
    <h1 class="ChoosePerson_Header">Guessers</h1>

    @if (people.Count() == 0)
    {
        <p><em>Loading...</em></p>
    } else {
        <div class="ChoosePerson_PersonSummaryBoxGallery">
            @foreach (var p in people)
            {
                    <PersonSummaryBox personModel="p" />
            }

        </div>
    }
</div>


@code {

    //REmove new layout, remove Choose person background styling
    private List<ExpandedPersonModel> people = new List<ExpandedPersonModel>();

    protected override async Task OnInitializedAsync(){
        string sql = "select *, " + 
            "(select COUNT(*) from event_person WHERE event_person.person_id = person.id) as event_count, " + 
            "(select COUNT(*) from gjett WHERE gjett.person_id = person.id) as gjett_count " + 
            "from person";
        await Task.Delay(00);
        people = await _data.LoadData<ExpandedPersonModel, dynamic>(sql, new { }, _config.GetConnectionString("default")!);
            
    }
}