@page "/person"

@using BlazorApp1.Models
@using ClassLibrary1
@inject IDataAccess _data
@inject IConfiguration _config
@attribute [StreamRendering]

<h3>Choose Person @number</h3>

@if (people.Count() == 0)
{
    <p><em>Loading...</em></p>
} else {
    @foreach (var p in people)
    {
        <p>
            @p.navn + events: @p.event_count + gjett: @p.gjett_count
        </p>
    }
}

@code {
    int number;
    List<ExpandedPersonModel> people = new List<ExpandedPersonModel>();
    protected override async Task OnInitializedAsync(){
        number = 1;
        string sql = "select *, " + 
            "(select COUNT(*) from event_person WHERE event_person.person_id = person.id) as event_count, " + 
            "(select COUNT(*) from gjett WHERE gjett.person_id = person.id) as gjett_count " + 
            "from person";
        await Task.Delay(2000);
        people = await _data.LoadData<ExpandedPersonModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
            
        number = 4;
    }
}
