@page "/kaffe"
@rendermode InteractiveServer

<h1>Tante liker kaffe men ikke te</h1>

<input @bind="text" >

<h2>@likesInput</h2>

<button @onclick="TeClick">Te</button>
<button @onclick="KaffeClick">Kaffe</button>

@code {
    private int updateCount = 0;
    private string likesInput = "";

    private string _text;

    private string text {
        get => _text;
        set{
            _text = value;
            TextUpdated();
        }
    }

    private void TextUpdated()
    {
        if (text.ToString().ToLower().Contains('t'))
        {
            likesInput = $"Tante liker ikke {text}";
        } else
        {
            likesInput = $"Tante liker {text}.";
        }
    }
    private void TeClick(MouseEventArgs e)
    {
        text = "Te";
    }

    private void KaffeClick(MouseEventArgs e)
    {
        text = "Kaffe";
    }


    protected override async Task OnInitializedAsync()
    {
        text = "";
    }
}
