@page "/person"

@using BlazorApp1.Models
@using ClassLibrary1
@inject IDataAccess _data
@inject IConfiguration _config
@rendermode InteractiveServer

<h3>Person @number</h3>

@if (people == null)
{
    <p><em>Loading...</em></p>
} else {
    @foreach (var p in people)
    {
        <p>
            @p.navn
        </p>
    }
}

@code {
    int number;
    List<PersonModel> people = new List<PersonModel>();
    protected override async Task OnInitializedAsync(){
        
        string sql = "select * from person";
        //number = await _data.five<PersonModel>();
        people = await _data.LoadData<PersonModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
        //people = await _data.LoadData<PersonModel, dynamic>(sql, new { }, "SERVER=mysql.stud.ntnu.no;UID=eliaseb_user2;PWD=H5K7da4r;DATABASE=eliaseb_julbrus;");
    }
}
