@import 'app-colors.scss';



@font-face {
    font-family: TallHeader;
    //src: url('C:\\Users\\elelm\\AppData\\Local\\Microsoft\\Windows\\Fonts\\league-gothic.regular.ttf');
    src: local('League Gothic Regular');

}


@font-face {
    font-family: BigHeader;
    //src: url('C:\\Users\\elelm\\AppData\\Local\\Microsoft\\Windows\\Fonts\\league-gothic.regular.ttf');
    src: local('Glacial Indifference Regular');

}


